.topnav{
    background-color: blue;
    display: flex;
    justify-content: center;
}
.topnav input[type=text]{
    margin-left: 20px;
    font-size:16px;
}
.topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: blue; /* Màu nền của thanh navbar */
}

.topnav ul li {
    float: left; /* Hiển thị các mục danh sách theo chiều ngang */
}

.topnav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* Thay đổi màu của các liên kết khi di chuột qua */
.topnav ul li a:hover {
    background-color: #ddd;
    color: black;
}

/* CSS để sắp xếp sản phẩm theo chiều ngang */
.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.product {
    list-style: none;
    width: calc(25% - 10px); /* 3 sản phẩm trên mỗi hàng */
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #1e90ff;
    border-radius: 20px;
    text-align: center;
}
.product a{
    text-decoration: none;
}
.product h3  {
    display: inline;
    text-align: center;
    text-decoration: aqua;
}
.product p{
    margin: 0;
    font-size: 12px;
}
/* Di chuyển phần đăng nhập và đăng ký vào góc phải */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-nav {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.navbar-nav li {
    margin-left: 10px;
}
.navbar-nav li:first-child {
    margin-left: 0;
}
footer {
    justify-items: end;
    margin-bottom: 0;
    width: 100%;
}
#wrapper{
    margin-left: 2%;
    margin-right: 2%;
    font-family: arial;
}



